.class-one h2 {
    color: #000
}

.class-one p {
    color: #080
}

.class-two h2 {
    color: #F00
}

.class-two p {
    color: #F00
}

.class-three h2 {
    color: #00F
}

.class-three p {
    color: #00F
}

.class-four h2 {
    color: #F00
}

.class-four p {
    color: #F00
}

.scroll button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none
}

